<div class="flex justify-center mt-20">
  <div class="p-8 rounded-lg shadow-lg w-full max-w-3xl">
    <h1 class="playwrite-de-grund-font-fourhundred text-rose-600 text-3xl font-semibold text-center mb-6"><%= @budget.name %></h1>
    <h2>Total monthly budget amount:</h2>
    <h2>Amount Spent this month:</h2>
    <div class="flex justify-center mt-6">
      <%= link_to 'Go to Categories', budget_categories_path(@budget), class: "playwrite-de-grund-font-fourhundred text-lg w-full max-w-xs bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300 text-center" %>
    </div>
    <div class="flex justify-center mt-6">
      <%= link_to 'Go to Transactions', transactions_path, class: "playwrite-de-grund-font-fourhundred text-lg w-full max-w-xs bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300 text-center" %>
    </div>
    <div class="flex justify-center mt-6">
      <%= link_to 'Edit this Budget', edit_budget_path(@budget), class: "playwrite-de-grund-font-fourhundred text-lg w-full max-w-xs bg-rose-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-rose-500 transition duration-300 text-center" %>
    </div>
  </div>
</div>
