<div class="relative inline-block text-left">
  <div>
    <button type="button" class="playwrite-de-grund-font-fourhundred inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-rose-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
      Dropdown
      <!-- Heroicon name: solid/chevron-down -->
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
  </div>

  <!-- Dropdown menu -->
  <div class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100", Not Active: "" -->
      <a href="#" class="playwrite-de-grund-font-fourhundred block px-4 py-2 text-sm text-gray-700 hover:bg-rose-500 hover:text-white" role="menuitem" tabindex="-1">Option 1</a>
      <a href="#" class="playwrite-de-grund-font-fourhundred block px-4 py-2 text-sm text-gray-700 hover:bg-rose-500 hover:text-white" role="menuitem" tabindex="-1">Option 2</a>
      <a href="#" class="playwrite-de-grund-font-fourhundred block px-4 py-2 text-sm text-gray-700 hover:bg-rose-500 hover:text-white" role="menuitem" tabindex="-1">Option 3</a>
    </div>
  </div>
</div>
